<a class="navbar-brand" href="<%= root_url %>"/>Home</a>
<p id="notice"><%= notice %></p>

<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<div class="center">

    <p><strong>Name:</strong><%= @patient.first_name %> <%= @patient.last_name %></p>
    
    # Will need to add Edit and Home Buttons
  </div>
</div>