<p id="notice"><%= notice %></p>

<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<% if @patient.provider == nil %>
  <div class="center">
      <p><strong>Name: </strong><%= @patient.first_name %> <%= @patient.last_name %></p>
      <br/>
      <p><strong>Email: </strong><%= @patient.email%>
      <br/><br/>
      <%= link_to "Edit", edit_patient_url %> 
  </div>
<% else %>  
  <div class='center'>
    <p><strong>Username: </strong><%= @patient.email%>
  </div>
<% end %>


<p><% @patient.prescriptions.each do |prescription| %>
    <div>
      
        <li>
          <strong>Prescription date: </strong><%= prescription.prescription_date.strftime('%m/%d/%Y') %><br/>
          <strong>Prescription name: </strong><%= prescription.prescription_name %><br/>
          <strong>Pharmacy name: </strong><%= prescription.pharmacy_name %><br/>
          <strong>Pharmacy address: </strong><%=prescription.pharmacy_address %><br/>
          
        </li><br/>
      
    </div>

<% end %></p>




