<p id="notice"><%= notice %></p>

<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<% if @patient.provider == nil %>
  <div class="center">
      <p><strong>Name: </strong><%= @patient.first_name %> <%= @patient.last_name %></p>
      <br/>
      <p><strong>Email: </strong><%= @patient.email%>
      <br/><br/>
      <%= link_to "Edit", edit_patient_url %> 
  </div>
<% else %>  
  <div class='center'>
    <p><strong>Username: </strong><%= @patient.email%>
  </div>
<% end %>

